html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Baloo Tamma 2", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#nav-bar-left {
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-left: 2vw;
    border-bottom: 1px solid lightgray;
}

#nav-bar {
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#logo {
    display: flex;
    gap: 0.3vw
}

#workouts {}

#calCounter {}

#trackers {}

#blog {}

#contact {}