html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

#nav-bar {
    height: 7vh; 
    width: 100vw;
    display: flex;
    background-color: blue;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
}

#logo{

}

#workouts{

}

#calCounter{

}

#trackers{

}

#blog{

}

#contact{

}